<div class="container text-center">
  <div class="grid">
    <div class="profile-card profile-main-card">
      <div class="profile-card-content">
        <%= image_tag "jim.png", width: "150", class: "img-circle" %>

       <!--  <div class="list-inline">
          <% data.users.each do |user| %>
          <li>
            <% link_to "https://kitt.lewagon.com/alumni/#{user.github_nickname}", target: "_blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.github_nickname}", class: "img-circle" %>
            <% end %>
            <h2><%= user.name %></h2>
            <%= user.profession %>
          </li>
          <% end %>
        </div> -->

        <h2>Sebastien Saunier</h2>
        <p>CTO at Le Wagon</p>
        <a href="#" class="btn btn-primary btn-lg">Get in touch</a>
      </div>
    </div>
    <div class="profile-card card-count-one">
      <div class="profile-card-content">
        <h3>3,536</h3>
        <p>contributions</p>
      </div>
    </div>
    <div class="profile-card card-count-two">
      <div class="profile-card-content">
        <h3>758</h3>
        <p>followers</p>
      </div>
    </div>
    <div class="profile-card card-count-three">
      <div class="profile-card-content">
        <h3>119</h3>
        <p>repositories</p>
      </div>
    </div>
    <div class="profile-card card-info">
      <div class="profile-card-content">
        <h3>More about Sebastien</h3>
        <p class="text-justify">
          I am a full-stack developer with 9 years of experience working in startups. Scratching your own itch? Working on a startup project? Lots of ideas but frustrated that you can't code them? Confused with agencies' or freelances' quotes? No clue when a developer is talking? Time to learn to code with Le Wagon with a 9-week intensive and immersive bootcamp!
        </p>
      </div>
    </div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
